---
//basic footer component
---
<footer>
        <a href="https://www.facebook.com/BrightHorizonsLightingLLC" target="_blank" rel="noopener noreferrer">
        <img src="/facebook-50.png" alt="Facebook" width="24" height="24" />
        </a>
        <p>Bright Horizon’s Exterior Lighting LLC</p>
        <p>1234 Holiday Lane, Bloomsburg, PA 17815</p>
       <!-- <a href="tel:+15707900243" id="phone">(570) 790-0243</a>-->
       <a href="tel:+" id="phone">(570) 790-0243</a>
        <br>
        <a href="mailto:example@test.com?subject=Free Lighting Quote" id='email' class="cta-button">Email</a>
			<br>
        <p>&copy; {new Date().getFullYear()} Bright Horizon's Exterior Lighting. All rights reserved.</p>
        <p>Powered by</p>
        <a href="https://www.godaddy.com/websites/website-builder?isc=pwugc&utm_source=wsb&utm_medium=applications&utm_campaign=en-us_corp_applications_base">
        <img src="/godaddy-50.png" alt="GoDaddy Logo" width="24" height="24" />
        </a>
</footer>
    <style>
        footer {
                display: flex;
                flex-direction: column;
                width: 100%;
                background-color: rgba(255,255,255,0.5);
                padding: 10px;
                text-align: center;
                box-sizing: border-box;
        }
        
    </style>
    